*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
}
.circle{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid black;
}
#one{
    background-color: rgba(9,72,121,1);
}
#two{
    background-color:  rgba(235,246,81,1) ;
}
#three{
    background-color: turquoise;
}
#four{
    background-color: darkblue;
}
.card{
    width: 90%;
    height: 95%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,72,121,1) 70%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.two{
    width: 90%;
    height: 20%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, rgba(63,213,10,1) 0%, rgba(235,246,81,1) 70%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.neg{
    width: 90%;
    height: 35%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, orange 0%, turquoise 70%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hoyr{
    width: 90%;
    height: 5%;
    /* background-color: gold; */
    display: flex;
    justify-content: space-around;
}
.a{
    width: 30%;
    height: 100%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, orange 0%, turquoise 70%);
}
.gurav{
    width: 90%;
    height: 50%;
    /* background-color: deeppink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.b{
    width: 45%;
    height: 45%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, orange 0%, turquoise 70%);
}
.top{
    width: 90%;
    height: 10%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, red 0%, darkblue 70%);
}
.bottom{
    width: 90%;
    height: 80%;
    /* background-color: lightsalmon; */
    display: flex;
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: forestgreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.q{
    width: 100%;
    height: 35%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, red 0%, darkblue 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s{
    width: 100%;
    height: 20%;
    background: rgb(63,213,10);
    background: linear-gradient(90deg, red 0%, darkblue 70%);
}